flows (1).json
[
    {
        "id": "7220e69159103c23",
        "type": "tab",
        "label": "DashBoard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68bbfa96f8a04a85",
        "type": "mqtt out",
        "z": "7220e69159103c23",
        "name": "",
        "topic": "gds0642/gcm/control",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ef87a3a8e8cbbdb0",
        "x": 760,
        "y": 1080,
        "wires": []
    },
    {
        "id": "be7fba643ad1f634",
        "type": "ui_button",
        "z": "7220e69159103c23",
        "name": "",
        "group": "6220048d94628cc2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mover Mano",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "68bbfa96f8a04a85"
            ]
        ]
    },
    {
        "id": "65b774694c1b2797",
        "type": "ui_button",
        "z": "7220e69159103c23",
        "name": "",
        "group": "6220048d94628cc2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Giñar ojo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 1220,
        "wires": [
            [
                "68bbfa96f8a04a85"
            ]
        ]
    },
    {
        "id": "ef87a3a8e8cbbdb0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6220048d94628cc2",
        "type": "ui_group",
        "name": "Nieve",
        "tab": "bd6e0e7de5e7cedc",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd6e0e7de5e7cedc",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]